<section class="contact-s2 container-fluid bg-light d-flex align-items-center py-5 minh-50vh border-top border-dark">
    <div class="row mx-0 w-100">
        <div class="col-12 col-md-7 minh-25vh"></div>
        <div class="col-12 col-md-5 d-flex align-items-center">
            <div class="text-center text-md-start p-5 text-white text-shadow">
                <h2 class="text-uppercase fw-bold mb-3">
                    Direct contact
                </h2>
                <p>
                    Visit us personally, as this gives you the opportunity to speak with our agents 
                    face to face. Additionally, you may also be able to get a better deal by booking 
                    your trip directly through the agency, as opposed to online. If you're planning 
                    a big trip, it's definitely worth it to check out which offer fits your needs 
                    and fits your budget.
                </p>
                <address class="border-start border-dark ps-3">
                    Abcdfg Street 12,<br/>
                    00-000 City,<br/>
                    +(00) 987 654 124<br/>
                    email&#64;email.com
                </address>
            </div>
        </div>
    </div>
</section>