<section class="about-s1 container-fluid d-flex minh-50vh align-items-center py-5">
	<div class="row mx-0 w-100 mt-5">
        <div class="col-12 col-md-7 minh-25vh d-none d-md-block"></div>
        <div class="col-12 col-md-5 minh-50vh d-flex align-items-center">
            <div class="w-100 text-center text-md-start pt-5 text-shadow">
                <h5 class="text-white">
                    An amazing way
                </h5>
                <h2 class="dispaly-6 fw-bold text-white">
                    To broaden your horizons      
                </h2>
                <p class="text-white">
                    I think that traveling is an amazing way to broaden your horizons 
                    and learn about new places and cultures. It's a great way to challenge 
                    yourself and step outside of your comfort zone - and it can sometimes 
                    be a little uncomfortable, but it's always worth it. Traveling is a 
                    wonderful way to gain new perspectives, and it's always fun to see new 
                    places and meet new people.   
                </p>
            </div>
        </div>
    </div>
</section>
<section class="about-s2 container-fluid d-flex minh-50vh bg-light align-items-center py-5 border-top border-dark">
    <div class="row mx-0 w-100">
        <div class="col-12 col-md-7 minh-25vh order-1 order-md-2"></div>
        <div class="col-12 col-md-5 minh-50vh order-2 order-md-1 d-flex align-items-center">
            <div class="w-100 text-center text-md-start text-shadow">
                <h5 class="text-white">
                    Be prepared 
                </h5>
                <h2 class="dispaly-6 fw-bold text-white">
                    For anything
                </h2>
                <p class="text-white">
                    It's important to do your research in advance and to be prepared for 
                    anything that might come up. It's also helpful to have a good guide 
                    or itinerary so that you can make the most of your time there. Finally, 
                    It's important to be flexible and open-minded, as there will likely be 
                    things that you hadn't planned for or that won't go exactly as you'd 
                    hoped. Ultimately, as long as you're willing to go with the flow and 
                    adapt as needed, then you'll be just fine!
                </p>
            </div>
        </div>
    </div>
</section>
<section class="about-s3 container-fluid d-flex minh-50vh align-items-center py-5 border-top border-dark">
	<div class="row mx-0 w-100 mt-5">
        <div class="col-12 col-md-7 minh-25vh d-none d-md-block"></div>
        <div class="col-12 col-md-5 minh-50vh d-flex align-items-center">
            <div class="w-100 text-center text-md-start pt-5 text-shadow">
                <h5 class="text-white">
                    Traveling
                </h5>
                <h2 class="dispaly-6 fw-bold text-white">
                    With kids        
                </h2>
                <p class="text-white">
                    It's important to choose a destination that's kid-friendly and that offers 
                    lots of fun and engaging activities for kids. It's helpful to get an 
                    understanding of the local customs and etiquette before you go, so that you 
                    can be sure to avoid anything that might cause offense or upset to the locals. 
                    And finally, it's important to have a plan in place for what to do in case of 
                    an emergency, so that you know how to best protect your kids and keep them 
                    safe.     
                </p>
            </div>
        </div>
    </div>
</section>