<section class="index-s1 container-fluid d-flex minh-100vh bg-light align-items-center py-5 border-top border-secondary">
    <div class="row mx-0 w-100 mt-5">
        <div class="col-12 col-md-7 minh-25vh order-1 order-md-2"></div>
        <div class="col-12 col-md-5 minh-50vh order-2 order-md-1 d-flex align-items-center">
            <div class="w-100 text-center text-md-start text-shadow">
                <h5 class="text-white">
                    Traveling World
                </h5>
                <h2 class="dispaly-6 fw-bold text-white">
                    Explore and learn
                </h2>
                <p class="text-white">
                    Traveling around the world exposes people to different cultures and 
                    perspectives, and helps to broaden the mind. Plan your travel 
                    itinerary in advance, and be sure to stay aware of local customs and 
                    safety precautions. 
                </p>
            </div>
        </div>
    </div>
</section>